---
layout: page
title: "About Me"
description: "Hey, this is Roger."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh">
    <blockquote>
        世界那么大，好想去看看。
    </blockquote>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我所有的自负都来自我的自卑，所有的英雄都来自我内心的软弱，所有的振振有词都因为心中满是怀疑。我假装无情，其实是痛恨自己的深情。我以为人生的意义在于四处游荡流亡，其实只是掩饰至今没有找到愿意驻足的地方。 <br>
     <div style="float:right;">-- 《看不见的城市》</div>
</div>

<!-- English Version -->
<div class="en">
    <blockquote>
        Designer or Engineer, things in between.
    </blockquote>

    <p>
        Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work. And the only way to do great work is to love what you do. If you haven’t found it yet, keep looking. Don’t settle. As with all matters of the heart, you’ll know when you find it.
    </p>

    <p>
    If you want to live your life in a creative way, as an artist, you have to not look back too much. You have to be willing to take whatever you’ve done and whoever you were and throw them away.
    </p>

    <p style="text-align:right;">
    -- Steve Jobs
    </p>

</div>
<br><br>
<div class="Timeline">
<h2>Timeline</h2>
<br>
<ul>
  <li>2016.4 完成 LoadingView  <a href="https://github.com/Rogero0o/CatLoadingView" target="_blank">CatLoadingView</a> , 以及 GifLoadingView <a href="https://github.com/Rogero0o/GifLoadingView">GifLoadingView</a> ( 仅供效果参考，核心为显示 gif 图片，并无技术价值 )</li>
        <li>2016.1 突发灵感写了一个好玩的Password库：<a href="https://github.com/Rogero0o/PasswordLoadingView" target="_blank">PasswordLoading</a></li>
        <li>2015.8 开始framework层学习中 , 深刻体会 RTFSC (read the fucking source code)精神</li>
        <li>2015.6 完成个人娱乐APP “锁屏先生” , 界面优(lao)美(tu) , 发布各个平台 , 下载地址：<a href="http://www.wandoujia.com/apps/com.roger.screenlocker">锁屏先生</a></li>
	<li>2014.12 学习了大神的下拉刷新代码后(<a href="https://github.com/liaohuqiu/android-Ultra-Pull-To-Refresh" target="_blank">链接</a>)，在github上发布第一个库—<a href="https://github.com/Rogero0o/MatchView">MatchView</a>，至今已获430+ start</li>
	<li>2014.7 进入网龙,参与K12教育平板101PAD相关APP开发</li>
	<li>2013.11 业余时间参与开发 <a href="http://android.myapp.com/myapp/detail.htm?apkName=com.huizhan.stonefair.app" target="_blank">厦门石材展</a></li>
	<li>2013.7 毕业进入福富,开始学习android开发,期间参与开发  <a href="http://android.myapp.com/myapp/detail.htm?apkName=cn.ffcs.mh201308290200093640xxx001020" target="_blank">漫画单行本</a>  、 <a href="http://www.anzhi.com/soft_1284719.html" target="_blank">动画单行本</a> 、 <a href="http://www.anzhi.com/soft_1708536.html" target="_blank">陪伴客户端</a> , 以及一个基于ant的批量打包工具,自动修改包名、图标、部分内容图片及配置信息。</li>
	<li>2013.6 毕业设计：android点餐系统—《随便点》，个人经历 需求-设计-编码-测试 开发流程，编写服务端、android端所有代码，获得评审老师好评。</li>
	<li>2012.7 大三暑假进入福富实习,使用SSH开发后端服务程序,后期使用 SSH+jquery+easyui+oracle 开发 用于提取数据库中各种生产数据，并加工、分类、整理，以报表的形式展示的报表系统</li>
	<li>2012.4 机缘巧合进入免费培训班学习java，期间完成了基于java的坦克大战、基于swing的QQ服务端、客户端、基于j2ee的卖车网站前后台。</li>
	<li>2011.9 大二热爱自行车,寒假与车友二人下雨天骑行340+公里从厦门骑行回家，耗时两天，不夸张的说，裤子都磨破了</li>
	<li>2009.9 进入集美大学计算机工程学院</li>
	<li>1990.12  hello world</li>
</ul>
</div>

<div class="github">
<br><br>
<h2>Android 开源库</h2>
&nbsp;&nbsp;&nbsp;&nbsp;以下是我的android开源库，不少是学习研究其他开源库后加以简化、整合而成的，在项目github页面都有说明 ^_^  希望能帮到有需要的童鞋。
<ul>
	<li>CatLoadingView :可爱的小猫捉老鼠 LoadingView。<br>地址：<a title="https://github.com/Rogero0o/CatLoadingView" href="https://github.com/Rogero0o/CatLoadingView" target="_blank">https://github.com/Rogero0o/CatLoadingView</a></li>
</ul>
<a href="http://ww4.sinaimg.cn/mw690/a695acdejw1f2hbmfxzk5g208u0a2ass.gif"><img class="alignnone size-medium wp-image-181" src="http://ww4.sinaimg.cn/mw690/a695acdejw1f2hbmfxzk5g208u0a2ass.gif" alt="1" width="266" height="300" /></a>
<ul>
	<li>PasswordLoadingView:让你的密码动起来。<br>地址：<a title="https://github.com/Rogero0o/PasswordLoadingView" href="https://github.com/Rogero0o/PasswordLoadingView" target="_blank">https://github.com/Rogero0o/PasswordLoadingView</a></li>
</ul>
<a href="https://github.com/Rogero0o/PasswordLoadingView"><img class="alignnone size-medium wp-image-181" src="https://github.com/Rogero0o/PasswordLoadingView/raw/master/Demo/1.gif" alt="1" width="266" height="300" /></a>
<ul>
	<li>android stuido Eclipse 快捷键 及 Code sytle。<br>地址：<a href="http://2.rogerbolg.sinaapp.com/wp-content/uploads/2015/12/android_studio_settings.zip">android_studio_settings</a></li>
</ul>
<ul>
	<li>MissView:酷炫的虚化+移动的背景。<br>地址：<a title="https://github.com/Rogero0o/MissView" href="https://github.com/Rogero0o/MissView" target="_blank">https://github.com/Rogero0o/MissView</a></li>
</ul>
<a href="https://github.com/Rogero0o/MissView"><img src="https://github.com/Rogero0o/MissView/raw/master/missview.gif" alt="" width="444" height="794" /></a>
<ul>
	<li>MatchView:包括MatchTextView和MatchButton，实现火柴棒动画构成英文字母。<br>地址：<a title="https://github.com/Rogero0o/MatchView" href="https://github.com/Rogero0o/MatchView" target="_blank">https://github.com/Rogero0o/MatchView</a></li>
</ul>
<a href="https://github.com/Rogero0o/MatchView"><img src="https://camo.githubusercontent.com/a71e9d26a7f90ea70270b3681d99785a29f83be5/687474703a2f2f7777312e73696e61696d672e636e2f6d773639302f6136393561636465677731656d79746e6b347334356732306567306d6b3439302e676966" alt="" width="376" height="587" /></a>
<ul>
	<li>DrawingAnimation:实现触摸画图，结束后动画展示图像。<br>地址：<a title="https://github.com/Rogero0o/DrawingAnimate" href="https://github.com/Rogero0o/DrawingAnimate" target="_blank">https://github.com/Rogero0o/DrawingAnimate</a></li>
</ul>
<a href="https://github.com/Rogero0o/DrawingAnimate"><img src="https://camo.githubusercontent.com/1e4c3f9fb0c3dfe976bea1db7d151e5d9e6c9099/687474703a2f2f7777332e73696e61696d672e636e2f6d773639302f6136393561636465677731656d7334763970797474673230686830757a6773792e676966" alt="" width="375" height="665" /></a>
<ul>
	<li>BounceInUpAnimation:实现点击弹出Item动画。<br>地址：<a title="https://github.com/Rogero0o/BounceInUpAnimation" href="https://github.com/Rogero0o/BounceInUpAnimation" target="_blank">https://github.com/Rogero0o/BounceInUpAnimation</a></li>
</ul>
<a href="https://github.com/Rogero0o/BounceInUpAnimation"><img src="https://camo.githubusercontent.com/4eea7159a515328ddb81b17baaace70846ab8ab3/687474703a2f2f7777332e73696e61696d672e636e2f6d773639302f6136393561636465677731656d6665726d74756b72673230646330646a74617a2e676966" alt="" width="480" height="487" /></a>
<ul>
	<li>ZoomViewPager：实现显示半边上下页的ViewPager。<br>地址：<a title="https://github.com/Rogero0o/ZoomViewPager" href="https://github.com/Rogero0o/ZoomViewPager" target="_blank">https://github.com/Rogero0o/ZoomViewPager</a></li>
</ul>
<a href="https://github.com/Rogero0o/ZoomViewPager"><img src="https://camo.githubusercontent.com/f61dab433fe1bafe031fffe3e6c4b4919172cc13/687474703a2f2f7777312e73696e61696d672e636e2f6d773639302f6136393561636465677731656d6761796e786567326a32316b77307a6b7462362e6a7067" alt="" width="527" height="329" /></a>
<ul>
	<li>Line Selection WebView ：选中webview中的文字，选择、画线。<br>地址： <a title="https://github.com/Rogero0o/LineSelectionWebView" href="https://github.com/Rogero0o/LineSelectionWebView" target="_blank">https://github.com/Rogero0o/LineSelectionWebView</a></li>
</ul>
<a href="https://github.com/Rogero0o/LineSelectionWebView"><img src="http://ww4.sinaimg.cn/mw690/a695acdegw1eldze7nca3g20dc0m9gmr.gif" alt="" width="340" height="568" /></a>
</div>
<br><br>

I'm a 爱编程、爱健身、爱摄影、爱英语、爱生活的程序猿~<br>

微博：<a href="http://www.weibo.com/u/2794826974/home?wvr=5" target="_blank">键盘上的海贼王</a><br>

GitHub：<a href="https://github.com/Rogero0o" target="_blank">https://github.com/Rogero0o</a><br>

在福州，如果你对我感兴趣，联系 Email:  <a class="email" href="mailto:flyrogermail@gmail.com" target="_blank">flyrogermail@gmail.com</a>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
